@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, rgba(26,15,200,0.6) 21%, rgba(9,9,121,0.6) 41%), url(img/Akatsuki.jpg);
    background-size: cover;
    z-index: -1;
}

body {
    font-family:'Lato', sans-serif ;
    height: 800px;
}

h1, p{
 text-align: center;
 color: white;
}

form {
    background-color:rgba(10, 3, 117, 0.8);
    max-width: 600px;
    padding: 20px 40px;
    margin: 0 auto;
    color: white;
    border-radius: 5px;
}

label, input, select, textarea{
    display: block;
}
label {
    margin-top: 25px;
    font-family: inherit;
}
input[type='email'],
input[type='number'],
input[type='text']
,select, textarea{
    margin-top: 5px;
    width: 100%;
    height: 100%;
    padding: 5px;
}

body form p{
 text-align: left;
}

button{
    background-color: rgb(45, 240, 71);
    margin-top: 10px;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
}
